.container {
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: #eef7ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.details {
  height: 600px;
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
}
.map {
  height: 300px;
  width: 350px;
}
