.container {
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: #eef7ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hostImage {
  border-radius: 25px;
}
.details {
  height: 600px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
}
.detailsHeader {
  height: 125px;
  width: 500px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px dashed lightgray;
}
.detailsHeaderHost,
.detailsHeaderDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailsHeaderHost {
  height: 125px;
  width: 150px;
  background-color: green;
  justify-content: space-around;
}

.detailsHeaderDesc {
  height: 125px;
  width: 350px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}
.detailsCategory {
  font-size: 16px;
  font-weight: 800;
  color: #5b5b5b;
  margin-bottom: 10px;
}
.detailsTitle {
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-align: left;
}
.detailsMain {
  height: 475px;
  width: 100%;
  /* background-color: yellow; */
}
.map {
  height: 425px;
  width: 100%;
}
.mapContainer {
  height: 600px;
  width: 50%;
}
.mapHeaderContainer {
  height: 100%;
  width: 100%;
}
.mapContainerHeader {
  height: 125px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
}
.mapContainerHeaderDate,
.mapContainerHeaderLocation {
  height: 62.5px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mapContainerHeaderLocation {
  background-color: none;
}
.clock,
.markerIcon {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dateAndTime,
.locationAddress {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
