.main {
  min-height: calc(100vh - 50px);
  width: 100vw;
  background-color: #fff;
}

.titleSection {
  height: 500px;
  background-image: linear-gradient(
    to right top,
    #bfe8cc,
    #b0e5c1,
    #a2e1b6,
    #93deaa,
    #83da9f
  );
  display: flex;
  flex-direction: row;
}

.titleSectionLeft,
.titleSectionRight {
  height: 100%;
  width: 70%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSectionRight {
  /* background-color: #fff; */
  width: 30%;
}

.titleLeft {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}

.categories {
  height: auto;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.categoryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: (50px);
  margin: 0px 10px 10px 0px;
  background-color: #fff;
}
.categoryBox {
  width: 100%;
  height: 400px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(105, 105, 105, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(105, 105, 105, 1);
  box-shadow: 0px 0px 8px 0px rgba(105, 105, 105, 1);
}
