.manageEventsContainer {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  overflow-y: auto;
  overflow-x: hidden;
}
.box {
  height: 80px;
  width: 100%;
  background-color: #fff;
  margin-top: 1px;
  border: 1px solid transparent;
  display: flex;
  /* -webkit-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1); */
}
.eventHeader {
  height: 50px;
  width: 100%;
  /* background-color: #fff; */
}
.eventHeaderButton {
  height: 50px;
  width: 50%;
  border: 1px solid transparent;
  border-right: 1px solid #313131;
  font-size: 16px;
  font-weight: 600;
}
.eventHeaderButton:focus {
  outline: 0;
}

.eventHeaderButton:nth-child(2) {
  border-right: 1px solid transparent;
}
.eventHeaderButton:hover {
  opacity: 0.8;
}
.manageEventsDesc,
.manageEventDelete {
  display: flex;
  height: 100%;
}
.manageEventsDesc {
  width: 90%;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.manageEventDelete {
  min-width: 100px;
  width: 10%;
  justify-content: center;
}

.deleteButton,
.editButton {
  background-color: transparent;
  border: 1px solid transparent;
}
.deleteButton {
  height: 100%;
  width: 100%;
}
.editButton {
  /* margin: 20px; */
  height: 100%;
  width: 100%;
}
.deleteButton:hover {
  background-color: #e53434;
}
.editButton:hover {
  background-color: #52be80;
}
.date {
  font-size: 16px;
  font-family: 400;
  color: #959595;
}
.title {
  font-size: 18px;
  font-family: 600;
  color: #000;
}
.going {
  font-size: 12px;
  font-family: 600;
  color: #3d3d3d;
}
@media only screen and (max-width: 440px) {
  .eventHeaderButton {
    height: 50px;
    width: 50%;
    border: 1px solid transparent;
    border-right: 1px solid #313131;
    font-size: 12px;
    font-weight: 600;
  }
  .date {
    font-size: 14px;
    font-family: 400;
    color: #959595;
  }
  .title {
    font-size: 16px;
    font-family: 600;
    color: #000;
  }
  .going {
    font-size: 12px;
    font-family: 600;
    color: #3d3d3d;
  }
}
