.profileContainer {
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: #d7e9f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.name {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.profileDetails {
  height: 60vh;
  min-height: 400px;
  min-width: 300px;
  width: 20%;
  background-color: #fff;
  margin-right: 10px;
}
.profileEvents {
  height: 60vh;
  min-height: 400px;
  min-width: 300px;
  width: 60%;
  background-color: #fff;
}
.profileImage {
  border-radius: 25px;
}
.profileDetailsHeader,
.profileDetailsEvents,
.profileDetailsButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profileDetailsHeader {
  min-height: 150px;
  height: auto;
  min-width: 300px;
  width: 100%;
  /* background-color: green; */
}
.profileDetailsEvents {
  min-height: 75px;
  height: auto;
  min-width: 300px;
  width: 100%;
  /* background-color: red; */
  flex-direction: row;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.profileDetailsButtons {
  height: 175px;
  min-width: 300px;
  width: 100%;
}
.eventsAttended,
.eventsHosted {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 10px 0px 10px;
}
.createEventButton {
  height: 50px;
  width: 200px;
  background-color: #82e0aa;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}
.createEventButton:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  .profileContainer {
    min-height: calc(100vh - 80px);
    height: auto;
    width: 100vw;
    background-color: #d7e9f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .profileDetails {
    height: auto;
    min-height: 300px;
    min-width: 300px;
    width: 85%;
    background-color: #fff;
    margin: 10px;
  }
  .profileDetailsHeader {
    min-height: 125px;
    height: auto;
    min-width: 300px;
    width: 100%;
    /* background-color: green; */
  }
  .profileDetailsEvents {
    min-height: 75px;
    height: auto;
    min-width: 300px;
    width: 100%;
    /* background-color: red; */
    flex-direction: row;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .profileDetailsButtons {
    min-height: 100px;
    height: auto;
    min-width: 300px;
    width: 100%;
  }
  .profileEvents {
    height: 60vh;
    min-height: 400px;
    min-width: 300px;
    margin: 10px;
    width: 85%;
    background-color: #fff;
  }
  .eventsAttended,
  .eventsHosted {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 10px 0px 10px;
  }
}

@media only screen and (max-width: 440px) {
  .profileContainer {
    min-height: calc(100vh - 80px);
    height: auto;
    width: 100vw;
    background-color: #d7e9f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .profileDetails {
    height: auto;
    min-height: 300px;
    min-width: 300px;
    width: 85%;
    background-color: #fff;
    margin: 10px;
  }
  .profileDetailsHeader {
    min-height: 125px;
    height: auto;
    min-width: 300px;
    width: 100%;
    /* background-color: green; */
  }
  .profileDetailsEvents {
    min-height: 75px;
    height: auto;
    min-width: 300px;
    width: 100%;
    /* background-color: red; */
    flex-direction: row;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .profileDetailsButtons {
    min-height: 100px;
    height: auto;
    min-width: 300px;
    width: 100%;
  }
  .profileEvents {
    height: 60vh;
    min-height: 400px;
    min-width: 300px;
    margin: 10px;
    width: 85%;
    background-color: #fff;
  }
  .eventsAttended,
  .eventsHosted {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 10px 0px 10px;
  }
}
